body {
    margin: 0;
    padding: 0;
    background-color: #F0F5F9;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

#top {
    width: 60%;
    margin: 0 auto;
    padding-top: 50px;
}

#name {
    font-size: 30px;
    font-weight: 400;
    display: inline-block;
    margin: 2% 2%;
}

#top p {
    
}

#top img {
    width: 200px;
    height: 200px;
    border-radius: 15px;
}
