body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Lato, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  background-color: #222222;
}

.project-block:hover {
  cursor: pointer;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.social-icon {
  margin: 0px 5px;
  margin-bottom: -3px;
}

.social-icon:hover {
  cursor: pointer;
  color: #ACB0BD;
}

.icon-link {
  color: #FFFFFF;
}

.modal-background:hover {
  cursor: pointer;
}

.inside-background {
  width: 0%;
  height: 100%;
  background: #222222;
  transition: all, 0.4s;
  position: relative;
  left: 0;
  top: 0;
  z-index: 5;
}

.project-block:hover .inside-background {
  width: 100%;
}

.exit-icon:hover {
  cursor: pointer;
}

.project-link:hover {
  cursor: pointer;
  color: #222222;
}

.projects-container > div {
  margin-top: 20px !important;
}

.github-link {
  margin: 0px 5px;
}

.github-link h4 {
  text-decoration: none;
  color: #487eb0;
  margin: 0px;
}

.cursor-pointer:hover {
  cursor: pointer;
}

.mobile-project-title {
  text-align: left;
}

@media screen and (max-width: 1125px) {
  .footer-container {
    bottom: 10px !important;
  }

  .menu-container {
    flex-direction: column;
  }

  .project-block {
    width: 175px !important;
    height: 175px !important;
  }

  .block-title {
    font-size: 22px !important;
  }

  .inside-background {
    width: 100%;
  }

  .about-me-container {
    width: 350px !important;
  }

  .about-me-container img {
    width: 350px !important;
    height: 255px !important;
  }

  .contact-me-container {
    width: 350px !important;
  }

  .contact-me-container img {
    width: 350px !important;
    height: 350px !important;
  }

  .home-content-container {
    width: 225px !important;
    margin-top: -50px !important;
  }

  .project-container {
    flex-direction: column;
    height: fit-content !important;
    justify-content: flex-start !important;
  }

  .project-text-container {
    width: 95% !important;
    margin: 0 auto !important;
  }

  .project-image-container {
    width: 100% !important;
    margin: 0 auto !important
  }
}
